.icon{
    font-size: 24px;
}

.titulo{
    text-align: center;
}

.oculto{
    color: transparent;
}

.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}