.cafe {
    font-size: 45px;
    color: white;
    align-items: center;
    margin-top: 8px;
}

.sunny {
    font-size: 45px;
    color: yellow;
    align-items: center;
    margin-top: 8px;
}

.moon {
    font-size: 45px;
    color: #6e5090;
    align-items: center;
    margin-top: 8px;
}

.nutrition {
    font-size: 45px;
    color: #7ab000;
    align-items: center;
    margin-top: 8px;
}

.calendar-icon{
    font-size: 45px;
    align-items: center;
    margin-top: 8px;
}

.water-icon{
    font-size: 45px;
    color: #1ca3ec;
    align-items: center;
    margin-top: 8px;
}
