<ion-content>

  <ion-grid class="main">

    <ion-grid class="image">
      <ion-img src="../../../assets/icon/logo_upLife.png"></ion-img>
      <ion-title>Up Life</ion-title>
    </ion-grid>

    <ion-grid class="botoes">
      <ion-row class="outros">
        <ion-button (click)="loginComGoogle()"> Continuar com google </ion-button>
      </ion-row>
    
      <ion-row class="nativo">
        <ion-button (click)="IrparaLogin()">Entrar</ion-button>
        <ion-button (click)="IrparaRegistro()">Cadastrar</ion-button>
      </ion-row>
    </ion-grid>

  </ion-grid>

</ion-content>
