.icon{
    font-size: 24px;
}

.titulo{
    text-align: center;
}

.oculto{
    color: transparent;
}

.main{
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario{
    width: 90%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.formulario ion-item{
    margin-bottom: 10px;
}

.formulario ion-col{
    margin-bottom: 10px;
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botoes ion-button{
    width: 100%;
    margin-bottom: 10px;
}

.opcoes ion-radio{
    margin-bottom: 10px;
}

.erro{
    color: red;
}

ion-modal {
    --height: 35%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 0 20px 0 20px;
}

.modalButton ion-button{
    width: 50%;
}