.icon{
    font-size: 32px;
}

.icon ion-avatar{
    width: 40px;
    height: 40px;
}

.titulo{
    text-align: center;
}

.oculto{
    color: transparent;
}

.teste{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lado{
    width: 50%;
    margin-bottom: 10px;
}